/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}

.heading {
	color: palevioletred;
}

#start {
	color: red;
}

.subtitle {
	color: seagreen;
}

.subtitlethree {
	color: blueviolet;
}

.subtitletwo {
	color: slateblue;
}

p.textone {
	color: tomato;
}

.news > div {
	color: aqua
}

.textthree {
	color: chartreuse;
}